@import 'Variables.scss';

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  color: $text-color;
  background-color: $background-color;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}
