@import './Variables.scss';

.new-note-container {
  width: 100%;
  max-width: 600px;
}

.tag-input-box {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    width: 50px;
  }

}

.tag-info {
  margin-top: 30px;
}
